
nav{
    height: 100px;
    background-color: red;
    grid-column: 1 / 6;
}
body{
    margin: 0;
    padding: 0;
}
.hero{
    height: 300px;
    background-color: orange;
    display: grid;
    grid-column: 2; 
}

.superhero{
    height: 200px;
    background-color: purple;
    display: grid;
    grid-column: 4;
}

main{
    height: 700px;
    background-color: green;
    grid-column: 3;
}

footer{
    height: 100px;
    background-color: yellow;
    grid-column: 1 / 6;
}

#wrapper{
    display: grid;
    grid-template-columns: 1fr 200px 500px 200px 1fr;
    background-color: blue
}